.container {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    background: #8C7569;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none !important;
}

.link:hover {
    background: #fff !important;
    color: #55311c !important;
    transition: all 0.5s;
    border: 1px solid #8C7569;
    text-decoration: none !important;
}

.active {
    background: #fff !important;
    color: #55311c !important;
    border: 1px solid #8C7569;
    text-decoration: none !important;
}

.icon,
.link_text {
    font-size: 20px;
}