h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.table-actions {
    display: flex;
    justify-content: flex-end;
}

.table-actions button {
    margin-right: 5px;
}

/* .table-brown thead {
    background-color: #8c7569 !important;
    color: white;
} */

/* .th-bg-brown {
    background-color: '#8c7569' !important;
    color: 'white'
} */